#name {
	margin-top: 20px;
}

#greetings	{
  padding-top: 25%;
}
.name {
	font-family: 'Shadows Into Light', cursive;
	font-size: 6rem;
	color: #fff;
}
.jumbotron {
    background: #fff; 
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 70px;
}

p {
  font-family: 'Open Sans', sans-serif;
}


/*html {
  font-size: 2rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 3rem;
  }
}*/