#name {
	margin-top: 20px;
}

#greet	{
	font-family: 'Shadows Into Light', cursive;
	font-size: 3em;
	color: #fff;
}
.name {
	font-family: 'Shadows Into Light', cursive;
	font-size: 6rem;
	color: #fff;
}
.jumbotron {
    width: 100%;
    background: #FE7575; 
    padding: 0 0;
}


/*html {
  font-size: 2rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 3rem;
  }
}*/